[worldserver]                                        
###################################################################################################
#  SOLOCRAFT RAID
###################################################################################################

# Enable the module? (1: true | 0: false)
SolocraftRaid.Enable = 1

# Health Mult
SoloCraftRaid.Health.Mult = 2.5
